[package]
name = "cloak"
version = "0.1.0"
authors = ["Evans Murithi <murithievans80@gmail.com>"]
exclude = []
repository = "https://github.com/evansmurithi/cloak"
documentation = ""
homepage = "https://github.com/evansmurithi/cloak"
readme = "README.md"
license = "MIT"
description = "A Command Line OTP Authenticator application."

[dependencies]
clap = "2.32.0"
ring = "0.13.2"
data-encoding = "2.1.1"
toml = "0.4.6"
serde = "1.0"
serde_derive = "1.0"
open = "1.2.1"
dirs = "1.0.2"
failure = "0.1.1"

[[bin]]
path = "src/main.rs"
name = "cloak"
